<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forgot Password</title>
</head>
<body>
	<table style="width:600px;font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;">
		<tr>
			<th colspan="3" style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">
			<strong>Forgot Password</strong>
		</th>
		</tr>
		<tr>
			<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">New Password</td>
			<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">{{new_password}}</td>
		</tr>
	</table>
</body>
</html>